
#site-name {
   position: relative; /* was absolute */
   left: 2px;
   top: 5px;
   display: inline-block;
}

#currentTab {
   opacity: .55;
   cursor: default;
   text-shadow: 0 0 2px black; 
}

#currentTab:hover{
   background: #2f3036;
   text-decoration: none;
   text-shadow: none;
   color: white;
   font-weight: normal;
}
   
#site-name h1 {
   font-size: 3rem;
}

#pageContainer{
 padding: 8px;
}

#nav-ul{
   list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
 
}
#nav-ul > li {
   display: inline-block;
}



/*
#nav * {
   right: 0;
   padding: 1px;
   padding-top: 5px;
  display: inline;
  float: right;
}  /* WAS:  float: right; */

/*
ul {
   padding: 1px;
   float: right;
    display: inline;
   position: relative; 
}  */

.jumbotron {

   margin: 0 px;
   border-radius: 0px;
   
}

.content{
   margin-left: 10px;
}

.content-body{
   margin: 10px;
   padding: 10px;
   max-width: 700px;

}

.content-body img{
 height: 200px;
 float: left;
 margin: 20px;
 margin-left: 0px;
}

li {
   display:inline-block;
   margin: 3px 3px 0 0;
   border: rgb(75, 73, 73) solid 3px;
   border-radius: 6px;
   letter-spacing: 2px;
   padding:.2px;
   min-width: 145px;

}


/*Style for nav menu item links*/
li a {
   display:block;
   min-width: 145px;
   height: 45px;
   text-align: center;
   line-height: 45px;
   color: rgb(255, 255, 255);
   background: #2f3036;
   text-decoration: none;
}

/*Hover state  for nav menu item links*/
li a:hover {
   background: #cecece;
   text-decoration: none;
   color: rgba(28, 32, 32, 0.842);
   font-weight: bold;
   text-shadow: #2f3036 0 0 4px 4px;
}

#jumbo {  
   background-color: rgba(24, 24, 24, 0.125);
   border-radius: 7px;
   box-shadow: rgba(24, 24, 24, 0.125) -4px 0 20px 20px;

}
/* ---------------------------------- */

/*Responsive Styles*/
@media screen and (max-width : 900px){
   /*Make dropdown links appear inline*/
   ul {
       position: static;
       
   }
   /*Create vertical spacing*/
   li {
       margin-bottom: 1px;
   }
   /*Make all menu links full width*/
   ul li, li a {
       width: 100%;

   }

   #nav-ul > li {
      display: block;
  }
}

